<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Criar Cliente</h4>
          </div>
          <div class="content">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>CPF</label>
                    <input type="text" class="form-control" name="cpfInput" placeholder="CPF..." required ngModel #cpf="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="nomeInput" placeholder="Nome..." required ngModel #name="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <label>Rua</label>
                    <input type="text" class="form-control" name="ruaInput" placeholder="Rua..." required ngModel #rua="ngModel">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Numero</label>
                    <input type="text" class="form-control" name="numeroInput" placeholder="Numero..." required ngModel #numero="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Bairro</label>
                    <input type="text" class="form-control" name="bairroInput" placeholder="Bairro..." required ngModel #bairro="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-8">
                      <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" name="cidadeInput" placeholder="Cidade..." required ngModel #cidade="ngModel">
                      </div>
                    </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Estado</label>
                    <input type="text" class="form-control" name="estadoInput" placeholder="Estado..." required ngModel #estado="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>CEP</label>
                    <input type="number" class="form-control" name="cepInput" placeholder="CEP..." required ngModel #cep="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Telefone</label>
                    <input type="number" class="form-control" name="telefoneInput" placeholder="Telefone..." max-length="8" required ngModel #telefone="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Celular</label>
                    <input type="number" class="form-control" name="celularInput" placeholder="Celular(opcional)..." max-length="9" required ngModel
                      #celular="ngModel">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-block btn-fill pull-right" [disabled]="!form.valid">Criar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>