<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Criar Cliente</h4>
          </div>
          <div class="content">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="nameInput" placeholder="Nome..." required ngModel #name="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Sobrenome</label>
                    <input type="text" class="form-control" name="lastNameInput" placeholder="Sobrenome..." required ngModel #lastName="ngModel">
                  </div>
                </div>
              </div>
              <div class="email">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="emailInput" placeholder="Email..." required ngModel #email="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <label>Rua</label>
                    <input type="text" class="form-control" name="streetInput" placeholder="Rua..." required ngModel #street="ngModel">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Numero</label>
                    <input type="text" class="form-control" name="numberImput" placeholder="Numero..." required ngModel #number="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Bairro</label>
                    <input type="text" class="form-control" name="neighborhoodInput" placeholder="Bairro..." required ngModel #neighborhood="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-8">
                      <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" name="cityInput" placeholder="Cidade..." required ngModel #city="ngModel">
                      </div>
                    </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Estado</label>
                    <input type="text" class="form-control" name="stateInput" placeholder="Estado..." required ngModel #state="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>CEP</label>
                    <input type="number" class="form-control" name="cepInput" placeholder="CEP..." required ngModel #cep="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Telefone</label>
                    <input type="number" class="form-control" name="phoneInput" placeholder="Telefone..." max-length="8" required ngModel #phone="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Celular</label>
                    <input type="number" class="form-control" name="cellphoneInput" placeholder="Celular(opcional)..." max-length="9" required ngModel
                      #cellphone="ngModel">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-block btn-fill pull-right" [disabled]="!form.valid">Criar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>