<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">O.S</h4>
          </div>
          <div class="content">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <ng-select
                      [allowClear]="true"
                      [items]="listClient" 
                      placeholder="Selecione o cliente"
                      name="clientSelect"
                      required
                      ngModel
                      #client="ngModel"
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                  <input
                    type="text"
                    placeholder="Data Pedido "
                    class="form-control"
                    bsDatepicker
                    required
                  />
                </div>
                <div class="col-xs-12 col-12 col-md-4 form-group">
                  <input
                    type="text"
                    placeholder="Data Orçamento"
                    class="form-control"
                    bsDatepicker
                  />
                </div>
                <div class="col-xs-12 col-12 col-md-4 form-group">
                  <input
                    type="text"
                    placeholder="Data Execução"
                    class="form-control"
                    bsDatepicker
                  />
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-success btn-block btn-fill pull-right"
                [disabled]="!form.valid"
              >
                Criar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
