<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">O.S</h4>
          </div>
          <div class="content">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <ng-select
                      [allowClear]="true"
                      [items]="listClient" 
                      placeholder="Selecione o cliente"
                      name="clientSelect"
                      required
                      ngModel
                      #client="ngModel"
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                  <input
                    type="text"
                    placeholder="Data Pedido "
                    class="form-control"
                    bsDatepicker
                    required
                    [bsValue]="bsValue"
                  />
                </div>
                <div class="col-xs-12 col-12 col-md-4 form-group">
                  <input
                    type="text"
                    placeholder="Data Orçamento"
                    class="form-control"
                    bsDatepicker
                  />
                </div>
                <div class="col-xs-12 col-12 col-md-4 form-group">
                  <input
                    type="text"
                    placeholder="Data Execução"
                    class="form-control"
                    bsDatepicker
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Marca</label>
                      <select class="form-control" name="selectBrand" ngModel #brand="ngModel" required>
                          <option value="">Selecione a marca...</option>
                          <option [ngValue]="brand.id" *ngFor="let brand of brandItems">{{brand.name}}</option>
                        </select>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Modelo</label>
                        <input type="text" class="form-control" name="modelInput" placeholder="Modelo..." required ngModel #model="ngModel">
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                        <label>Defeito</label>
                        <input type="text" class="form-control" name="defectInput" placeholder="Defeito..." required ngModel #model="ngModel">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <label>Observação</label>
                          <textarea type="text" class="form-control" name="obsInput" placeholder="Observação..." required ngModel #obs="ngModel"></textarea>
                      </div>
                    </div>
                  </div>
              <button
                type="submit"
                class="btn btn-success btn-block btn-fill pull-right"
                [disabled]="!form.valid">
                Criar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
